In [21]:
import pandas as pd

In [22]:
hydro_power = 'Resources/hydro_list.csv'
elec_county = "Resources/ElectricityByCounty.csv"

In [24]:
hydro_power_df = pd.read_csv(hydro_power)
hydro_power_df
tot_hydro_powerhydro_power_df['ONLINE_MW'].sum()

13954.291000000001

In [20]:
elec_county_df = pd.read_csv(elec_county)
elec_county_df

,County,Sector,2018,2017,2016,2015,2014,2013,2012,2011,...,1998,1997,1996,1995,1994,1993,1992,1991,1990,Total Usage
0,ALAMEDA,Non-Residential,7465.239633,8108.827570,7891.021676,7357.909178,7422.865469,7647.457064,7601.906546,7964.101144,...,7193.585121,7823.244481,7769.025061,7309.930938,6668.237122,7260.776432,6822.523242,6809.573768,7109.299895,220353.221108
1,ALAMEDA,Residential,2951.870114,2997.541830,2923.672818,2899.423542,2895.491569,2987.473944,3000.871672,3025.991830,...,2791.332065,2674.834394,2615.308775,2548.457958,2774.566317,2529.229286,2465.000074,2515.209970,2498.265626,82454.332357
2,ALAMEDA,Total,10417.109747,11106.369400,10814.694495,10257.332720,10318.357038,10634.931009,10602.778217,10990.092975,...,9984.917186,10498.078875,10384.333836,9858.388895,9442.803439,9790.005719,9287.523316,9324.783738,9607.565521,302807.553465
3,ALPINE,Non-Residential,9.283298,9.025215,8.124741,4.354396,4.008389,4.752038,4.590161,5.199864,...,4.832369,4.468048,4.384382,4.296693,4.382027,4.485710,4.224083,3.906455,3.581764,170.976147
4,ALPINE,Residential,9.420910,9.951697,9.290913,11.855504,11.974975,13.424431,9.298178,9.093424,...,6.792005,6.373298,6.063832,6.231561,6.183168,6.812776,5.808735,6.165242,6.036978,243.886058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,YOLO,Residential,514.741442,537.954244,508.110689,504.997365,505.718004,508.238888,510.870614,500.228432,...,407.010551,401.931353,395.182263,364.965623,362.160463,366.895768,366.594257,361.263298,361.662528,13164.999932
170,YOLO,Total,1718.062788,1745.242606,1705.442413,1702.791499,1737.328776,1702.267537,1674.552585,1650.001857,...,1322.722827,1292.584674,1286.922268,1217.704027,1219.540142,1188.619806,1146.883915,1138.336808,1141.727276,43372.552018
171,YUBA,Non-Residential,284.902029,277.207183,267.674821,269.201358,274.548897,276.876586,266.013317,262.526545,...,294.566622,291.679399,306.485791,284.006126,303.530840,289.966296,322.863967,323.934790,310.463080,8805.467750
172,YUBA,Residential,220.066702,229.260629,215.090257,210.034874,214.855318,212.555287,215.763758,208.767382,...,148.137424,146.173412,148.199468,139.638867,141.866205,140.554885,141.721570,139.556078,137.659067,5134.230185
173,YUBA,Total,504.968731,506.467811,482.765078,479.236233,489.404215,489.431873,481.777076,471.293926,...,442.704047,437.852811,454.685259,423.644993,445.397045,430.521181,464.585537,463.490868,448.122147,13939.697937